.container{
    display: flex;
    flex-wrap: wrap;
}
.box1{
    background-color: red;
    
}
.box2{
    background-color: blue;
   
}
.box3{
    background-color: yellow;
    
}
.box4{
    background-color: green;
    
}
.box5{
    background-color: pink;
    
}

@media screen and (min-width: 400px)   {
    .box1{
    background-color: red;
    width: 100%;
}
.box2{
    background-color: blue;
    width: 50%;
}
.box3{
    background-color: yellow;
    width: 50%;
}
.box4{
    background-color: green;
    width: 30%;
}
.box5{
    background-color: pink;
    width: 70%;
}

    .container{
        display: flex;
        flex: wrap;
    }
}

@media screen and (min-width: 900px) {
    .container {
        display: flex;
        width: 800px;
        flex-wrap: wrap;
        margin: auto;
    }
    .flexbox {
    width: 100%;
}
    

}
body {
    padding: 2em 2em 0;
    background-color: #e6e5df;
    font-family: Georgia, serif;
    font-size: 1.5em;
    text-align: center;
}

